body {

background-color: white;

}

#main {

position: relative;
height: 233px;
}


#logo {

width: 272px;
height: 92px;

position: absolute;
top: 50%;
left: 50%;
margin: -70px 0 0 -170px;
padding: 20px;

}

#logo img {

width: 272px;
height: 92px;

}

#search {

position: relative;

}

#search div {

width: 272px;
height: 92px;

position: absolute;
top: 50%;
left: 50%;
margin: -70px 0 0 -170px;
padding: 20px;

}

#navbar {

float: right;

}

#navbar div{

display: inline;

}
